//layout
@mixin reset_mbp
	margin: 0
	border: 0
	padding: 0
@mixin pad($size)
	padding: $size
@mixin pad-top($size)
	padding-top: $size
@mixin pad-right($size)
	padding-right: $size
@mixin pad-bottom($size)
	padding-bottom: $size
@mixin pad-left($size)
	padding-left: $size	
@mixin margin($size)
	margin: $size
@mixin margin-top($size)
	margin-top: $size
@mixin margin-right($size)
	margin-right: $size
@mixin margin-bottom($size)
	margin-bottom: $size
@mixin margin-left($size)
	margin-left: $size	
@mixin border($size, $color)
	border-color: $color
	border-size: $size
@mixin box
	padding: 20px
	margin-bottom: 10px

//Color Mixins
@mixin bc($color)
	background-color: $color

//Fonts
@mixin header-font
	font-family: "Marck Script", "Helvetica Neue", Helvetica, sans-serif, Arial

@mixin content-font
	font-size: 13pt
	font-family: "Rancho", "Quicksand", "Helvetica Neue", Helvetica, sans-serif, Arial

//Style
@mixin round($top-left: 10px, $top-right: $top-left, $bottom-right: $top-right, $bottom-left: $top-left)
	-moz-border-radius			: $top-left $top-right $bottom-right $bottom-left
	-webkit-border-radius		: $top-left $top-right $bottom-right $bottom-left
	border-radius						: $top-left $top-right $bottom-right $bottom-left
@mixin simple-shadow
	-moz-box-shadow: 0px 0px 5px #333333
	-webkit-box-shadow: 0px 0px 5px #333333
	-o-box-shadow: 0px 0px 5px #333333
	box-shadow: 0px 0px 5px #333333
@mixin simple-bottom-fade($color: black)
	-moz-box-shadow: 0 0 25px $color
	-webkit-box-shadow: 0 0 25px $color
	box-shadow: 0 0 25px $color
@mixin ghost-shadow
	-moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset
	-webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset
	-o-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset
	box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset
	
//Bubble
@mixin bubble($color)
	+bc($color)
	+round
@mixin bubble_right($color)
	+bc($color)
	+round(0px, 10px, 10px, 0px)
@mixin bubble_left($color)
	+bc($color)
	+round(10px, 0px, 0px, 0px)	
	
//Buttons
@mixin buttonify($color)
	+header-font
	font-weight: bold
	background: $color
	color: #fff
	display: block-inline
	margin-left: auto
	margin-right: auto
	width: 6em	
	text-decoration: none
	text-align: center
	padding: 5px 10px /* Space around the button */
	border-bottom: 1px solid rgba(0,0,0,0.25) /* adds a slightly darker line on bottom */
	-webkit-border-radius: 7px
	-moz-border-radius: 7px
	border-radius: 7px
	-webkit-transition: color 6s linear
	-webkit-transition: background-color 6s linear
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
	&:hover 
		background: $color
		color: $text-highlight-color	
		text-decoration: none
		padding: 5px 10px
		border-bottom: 1px solid rgba(0,0,0,0.25)
		-webkit-border-radius: 7px
		-moz-border-radius: 7px
		border-radius: 7px
		-webkit-transition:color 2s linear
		-webkit-transition:background-color 2s linear
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
		text-shadow: 0 1px 1px rgba(0,0,0,0.25)