// Blueprint CSS Framework 1.0.1
// http: //blueprintcss.org
// 
//	 * Copyright (c) 2007-Present. See LICENSE for more info.
//	 * See README for instructions on how to use Blueprint.
//	 * For credits and origins, see AUTHORS.
//	 * This is a compressed file. See the sources in the 'src' directory.
@import "vars"
@import "mixins"
//* typography.css */
html
	font-size: 100.01%
body
	font-size: 100%
	color: $text-color
	+content-font
h1, h2, h3, h4, h5, h6
	+header-font
	font-weight: normal
	color: $text-color
	img
		margin: 0
h1 
	font-size: 3em
	line-height: 1
	margin-bottom: 0.5em
h2 
	font-size: 2em
	line-height: 1
	margin-bottom: 0.75em
h3 
	font-size: 1.5em
	line-height: 1
	margin-bottom: 1em
h4
	font-size: 1.2em
	line-height: 1.25
	margin-bottom: 1.25em
h5
	font-size: 1em
	font-weight: bold
	margin-bottom: 1.5em
h6
	font-size: 1em
	font-weight: bold
p
	margin: 0 0 1.5em
	.left
		margin: 1.5em 1.5em 1.5em 0
		padding: 0
	.right
		margin: 1.5em 0 1.5em 1.5em
		padding: 0	
.left
	float: left !important
.right
	float: right !important
a:focus, a:hover
	color: $text-highlight-color
a
	text-decoration: underline
blockquote
	margin: 1.5em
	color: #666
	font-style: italic
strong, dfn
	font-weight: bold
em, dfn
	font-style: italic
sup, sub
	line-height: 0
abbr, acronym
	border-bottom: 1px dotted #666
address
	margin: 0 0 1.5em
	font-style: italic
del
	color: #666
pre
	margin: 1.5em 0
	white-space: pre
	background-color: #eee
	padding: 10px
	font-size: 11px 
pre, code, tt
	font: 1em 'andale mono', 'lucida console', monospace
	line-height: 1.5
li ul, li ol
	margin: 0
ul, ol
	margin: 0 1.5em 1.5em 0
	padding-left: 1.5em
ul
	list-style-type: disc
ol
	list-style-type: decimal
dl
	margin: 0 0 1.5em 0
dl dt
	font-weight: bold
dd
	margin-left: 1.5em
table
	margin-bottom: 1.4em
	width: 100%
th
	font-weight: bold
thead th
	background: #c3d9ff
th, td, caption
	padding: 4px 10px 4px 5px
tbody tr:nth-child(even) td, tbody tr.even td
	background: #e5ecf9
tfoot
	font-style: italic
caption
	background: $bc-dark
.small
	font-size: .8em
	margin-bottom: 1.875em
	line-height: 1.875em
.large
	font-size: 1.2em
	line-height: 2.5em
	margin-bottom: 1.25em
.hide
	display: none
.quiet
	color: #666
.loud
	color: #000
.highlight
	background: $bc-highlight
.added
	background: #060
	color: #fff
.removed
	background: #900
	color: #fff
.first
	margin-left: 0
	padding-left: 0
.last
	margin-right: 0
	padding-right: 0
.top
	margin-top: 0
	padding-top: 0
.bottom
	margin-bottom: 0
	padding-bottom: 0

//* forms.css */
label
	font-weight: normal
fieldset
	padding: 0 1.4em 1.4em 1.4em
	margin: 0 0 1.5em 0
	border: 1px solid #ccc
legend
	font-weight: bold
	font-size: 1.2em
	margin-top: -0.2em
	margin-bottom: 1em
fieldset, #IE8#HACK
	padding-top: 1.4em
legend, #IE8#HACK
	margin-top: 0
	margin-bottom: 0
input.text, input.title
	width: 300px
	padding: 5px
input.title
	font-size: 1.5em
textarea
	width: 390px
	height: 250px
	padding: 5px
form.inline
	line-height: 3
form.inline p
	margin-bottom: 0
.error, .alert, .notice, .success, .info
	padding: 0.8em
	margin-bottom: 1em
	border: 2px solid #ddd
.error, .alert
	background: #fbe3e4
	color: #8a1f11
	border-color: #fbc2c4
.notice
	background: #fff6bf
	color: #514721
	border-color: #ffd324
.success
	background: #e6efc2
	color: #264409
	border-color: #c6d880
.info
	background: #d5edf8
	color: #205791
	border-color: #92cae4
.error a, .alert a
	color: #8a1f11
.notice a
	color: #514721
.success a
	color: #264409
.info a
	color: #205791
input.text, input.title, textarea, input[type=text], input[type=password], input[type=url], input[type=email]
	background-color: #fff
	border: 1px solid #bbb
	color: #000
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus
	border-color: #666
select
	background-color: #fff
	border-width: 1px
	border-style: solid
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select
	margin: 0.5em 0

//grid.css 
.showgrid
	background: url(src/grid.png)
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24
	float: left
	margin-right: 10px
.last
	margin-right: 0
.border
	padding-right: 4px
	margin-right: 5px
	border-right: 1px solid #ddd
.colborder
	padding-right: 24px
	margin-right: 25px
	border-right: 1px solid #ddd
.box
	padding: 1.5em
	margin-bottom: 1.5em
	background: #e5eCf9
hr
	background: #ddd
	color: #ddd
	clear: both
	float: none
	width: 100%
	height: 1px
	margin: 0 0 17px
	border: none
hr.space
	background: #fff
	color: #fff
	visibility: hidden
.clearfix:after, .container:after
	content: "\0020"
	display: block
	height: 0
	clear: both
	visibility: hidden
	overflow: hidden
.clearfix, .container
	display: block
.clear
	clear: both
	
//scaffolds.css
#notice
	color: green
.field_with_errors
	padding: 2px
	background-color: red
	display: table
#error_explanation
	width: 450px
	border: 2px solid red
	padding: 7px
	padding-bottom: 0
	margin-bottom: 20px
	background-color: #f0f0f0
	h2
		text-align: left
		font-weight: bold
		padding: 5px 5px 5px 15px
		font-size: 12px
		margin: -7px
		margin-bottom: 0px
		background-color: #c00
		color: #fff
	ul li
		font-size: 12px
		list-style: square