@import "vars"
@import "mixins"

//Fonts
@font-face
	font-family: 'Rancho'
	font-style: normal
	font-weight: 400
	src: local('Rancho'), font-url('http://themes.googleusercontent.com/static/fonts/rancho/v2/EJt_7DbHYj8a5HS0_pTrl-vvDin1pK8aKteLpeZ5c0A.woff') format('woff')
@font-face
	font-family: 'Marck Script'
	font-style: normal
	font-weight: 400
	src: local('MarckScript-Regular'), font-url('http://themes.googleusercontent.com/static/fonts/marckscript/v2/O_D1NAZVOFOobLbVtW3bcqRDOzjiPcYnFooOUGCOsRk.woff') format('woff')
@font-face
	font-family: 'Montez'
	font-style: normal
	font-weight: normal
	src: local('Montez'), local('Montez-Regular'), font-url('http://themes.googleusercontent.com/static/fonts/montez/v2/Ww9DrCS2WNNzzypZe0hgpuvvDin1pK8aKteLpeZ5c0A.woff') format('woff')

//Format
body
	+reset_mbp
	background-color: #AAA
	text-align: center
.container
	+reset_mbp
	margin: 10px auto
	width: $container-width
	color: $ruby-hair-color
	font-family: 'Rancho', 'Helvetica Neue', 'Helvetica', 'Arial'
	font-size: 150%
	+box
	background-color: black
	+round
	+simple-bottom-fade
