<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="VWgp_4dV9qNABdyekZ57hyJeeirRLRpR4kiRBm6MA28" />
  <title>Trannygram</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<%= yield %>
	</div>
</body>
</html>
